

/* Content Wrapper */
.content {
    margin: auto;
    display: flex;
    max-width: 90%;
    align-items: center;
    background-color: #707070;
    
}
.text-content {
    max-width: 60;
}

.img-content {
    max-width: 35%;
    margin-left: 20px;
}

.img-content img {
    width: 100%;
    object-fit: cover;
}