body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    max-width: 90%;
    background-color: #5BA49E;
}
p {
    size: 2.4rem;
}

.grid-container-intro {
    display: grid;
    grid-template-columns: repeat(5, 1xfr); /* Three columns */
    margin: auto;
}
.grid-intro-item{
    grid-column: 4/6;
    background-color: #f4f4f4;
    text-align: center;
}
.grid-intro-image{
    grid-column: 1/4;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/*https://developer.mozilla.org/en-US/docs/Web/CSS/@media*/
/* Media Query to move the special-item to the next row */
@media (max-width: 768px) {
    .grid-container-intro {
        grid-template-columns: 1fr 1fr; /* Change to 2 columns on smaller screens */
    }

    /* Make the special item span the full row */
    .grid-intro-item{
        grid-column: 1 / -1; /* This will make the item take up the entire row */
    }
}

@media (max-width: 480px) {
    .grid-container-intro {
        grid-template-columns: 1fr; /* Change to 1 column on mobile screens */
    }

    /* No need to specify grid-column as it's already a single column layout */
}